[Bb]in/
[Oo]bj/
[Rr]elease/
*.bat
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.bin
DocumentLayout.json
DocumentLayout.backup.json
.dtbcache.v2
CodeChunks.db
SemanticSymbols.db

# VS Code settings
.vscode/

# Local data & configuration
Data/
output/

